@import 'shared';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-default;
  background-color: $gray;
}

.text-center {
  text-align: center;
}
a {
  text-decoration: none;
}

.rounded {
  border-radius: 30px;
}

@import './components/layout';
@import './components/button';
@import './components/search';
@import './components/tasks/taskscards';
@import './components/tasks/taskscard';

// pages
@import './components/pages/onboarding';
@import './components/pages/login';
@import './components/pages/boards';
@import './components/pages/lists';
